@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: #0d0d0d;
    color: #00ffcc;
    font-family: 'Press Start 2P', cursive, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    height: 90vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr 0.8fr;
    /* Ensures homeworld stays below */
    gap: 10px;
    grid-template-areas:
        "people vehicles starships films"
        "homeworld homeworld homeworld homeworld";
    /* Homeworld takes full row */
}

.people {
    grid-area: people;
}

.vehicles {
    grid-area: vehicles;
}

.starships {
    grid-area: starships;
}

.films {
    grid-area: films;
}

.homeworld {
    grid-area: homeworld;
}

.people,
.vehicles,
.starships,
.films,
.homeworld {
    border: 2px solid #00ffcc;
    border-radius: 10px;
    padding: 0.8rem;
    background-color: #222;
    box-shadow: 0px 0px 8px #00ffcc;
    text-align: center;
    font-size: 0.7rem;
}

.people-list::-webkit-scrollbar {
    width: 12px;
}

.people-list::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #363636;
    border: 1px solid #00ffcc;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

.people-list::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #00ffcc;
}

.people-list,
.vehicles-list,
.starships-list,
.films-list {
    margin-top: 1.5rem;
}

.people-list {
    max-height: 53vh;
    /* Adjust height as needed */
    overflow-y: auto;
    /* Enables vertical scrollbar */
    overflow-x: hidden;
    /* Prevents horizontal scrolling */
    border: 2px solid #00ffcc;
    padding: 0.5rem;
    background-color: #222;
    box-shadow: 0px 0px 3px 0px #00ffcc;
}

h1 {
    color: #ffcc00;
    text-shadow: 2px 2px #000;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}



/* HTML: <div class="loader"></div> */
.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    transform: translate(-50%, -50%);
    opacity: 1 !important;
    z-index: 9999;
}


.loader:before {
    content: "Loading..."
}

@keyframes l2 {
    to {
        background-size: 100% 3px
    }
}

/* Optional: Load a pixel font */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');